.col-full {
  width: 100%; }

.col-53 {
  width: 641px;
  display: block;
  float: left; }

.col-46 {
  width: 566px;
  display: block;
  float: left; }

.col-26 {
  width: 321px;
  display: block;
  float: left; }

.nested-right {
  float: right;
  margin-right: -1px;
  margin-left: 0px; }
