html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'wolf_in_the_cityregular';
  src: url("../font/wolf_in_the_city-webfont.eot");
  src: url("../font/wolf_in_the_city-webfont.eot?#iefix") format("embedded-opentype"), url("../font/wolf_in_the_city-webfont.woff") format("woff"), url("../font/wolf_in_the_city-webfont.ttf") format("truetype"), url("../font/wolf_in_the_city-webfont.svg#wolf_in_the_cityregular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  margin: 0 0 100px 0;
  text-align: center; }

.wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1208px;
  text-align: left;
  word-spacing: -1; }

.grid {
  width: 100%; }

.grid:after {
  content: "";
  display: table;
  clear: both; }

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

[class*='col-'] {
  margin: 0 1px 1px 0;
  transition: width 0.5s;
  vertical-align: top;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

[class*='col-']:last-of-type {
  margin-right: 0px; }

.row-nested {
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline; }

.col-full {
  width: 100%; }

.col-53 {
  width: 641px;
  *width: 640px;
  display: block;
  float: left; }

.col-46 {
  width: 566px;
  *width: 565px;
  display: block;
  float: left; }

.col-26 {
  width: 320px;
  display: block;
  float: left; }

.row {
  display: block;
  overflow: hidden; }

.row > .nested-right:last-of-type,
.row > .nested-left:last-of-type {
  margin-bottom: -1px; }
  .row > .nested-right:last-of-type [class*='row-']:last-of-type,
  .row > .nested-left:last-of-type [class*='row-']:last-of-type {
    margin-bottom: -1px; }
    .row > .nested-right:last-of-type [class*='row-']:last-of-type.double-nested,
    .row > .nested-left:last-of-type [class*='row-']:last-of-type.double-nested {
      margin-bottom: 0; }

.double-nested {
  margin-bottom: 0px; }

.nested-right {
  float: right;
  margin-right: 0px;
  margin-left: -1px; }

.nested-left {
  float: left;
  margin-right: 1px;
  margin-left: 0px; }

.row-full {
  height: 768px; }

.row-xxlg {
  height: 765px; }

.row-xlg {
  height: 700px; }

.row-lg {
  height: 532px; }

.row-md {
  height: 467px; }

.row-sm {
  height: 385px; }

.row-xsm {
  height: 233px; }

/************************************
 * laptop
 ************************************/
@media (max-width: 1250px) and (min-width: 1024px) {
  .wrapper {
    width: 1000px; }

  [class*='col-'] {
    transition: none; }

  .col-full {
    width: 100%; }

  .col-53 {
    width: 529px;
    display: block; }

  .col-46 {
    width: 470px;
    display: block; }

  .col-26 {
    width: 264px;
    display: block; } }
/************************************
 * ipad - landscape
 ************************************/
@media (max-width: 1023px) and (min-width: 768px) {
  .wrapper {
    width: 750px; }

  .col-53 {
    width: 399px;
    display: block; }

  .col-46 {
    width: 350px;
    display: block; }

  .col-26 {
    width: 199px;
    display: block; }

  [class*='col-'] {
    transition: none; } }
/************************************
 * ipad - portrait
 ************************************/
@media (max-width: 767px) {
  .wrapper {
    width: 100%; }

  .row > .nested-right:last-of-type,
  .row > .nested-left {
    margin-bottom: 1px; }
    .row > .nested-right:last-of-type [class*='row-']:last-of-type,
    .row > .nested-left [class*='row-']:last-of-type {
      margin-bottom: 0px; }

  .nested-right {
    margin-bottom: 0px; }

  .double-nested {
    margin-bottom: 1px; }

  [class*='col-'] {
    width: 100%;
    margin-bottom: 1px; } }
.skyblue {
  background-color: #75a8c5; }

.limegreen {
  background-color: #63b778; }

.tan {
  background-color: #8f9190; }

.greyblue {
  background-color: #5c687d; }

.greygreen {
  background-color: #61735e; }

.rust {
  background-color: #7e392c; }

.teal {
  background-color: #157d98; }

.darkblue {
  background-color: #0d3672; }

.pink {
  background-color: #f5a1a3; }

.navy {
  background-color: #010042; }

.sandstone {
  background-color: #bbc1c3; }

.gold {
  background-color: #ccad5b; }

.scabbish {
  background-color: #7b394b; }

body {
  font-family: 'Titillium Web', 'sans-serif';
  font-size: 22px;
  color: #fff; }

#header {
  background: url(../img/bg.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#moonrise {
  background: url(../img/moonrise.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#pink-sky {
  background: url(../img/pink-sky.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#frangipani {
  background: url(../img/frangipani.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#snail {
  background: url(../img/fuggin-giant-snail.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#island-castle {
  background: url(../img/island-castle.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#bathsheba {
  background: url(../img/bathsheba.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

#brain-coral {
  background: url(../img/brain-coral.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

h1.intro, h2 {
  font-family: 'wolf_in_the_cityregular', Arial, sans-serif;
  font-size: 301px;
  text-align: center;
  line-height: 130px;
  margin-top: 20%;
  color: #fff;
  text-shadow: 2px 2px 10px #aaaaaa;
  transition: font-size 0.5s; }

h2 {
  font-size: 90px;
  margin: 0 0 0 0;
  line-height: 60px;
  padding-top: 15%;
  transition: font-size 0.5s;
  text-shadow: 0 0 1px #aaaaaa; }
  h2 br.hidden {
    display: none; }

p {
  text-align: left;
  padding: 15% 15% 0 15%;
  line-height: 30px;
  font-size: 22px;
  transition: font-size 0.5s; }

ul {
  padding: 5% 15% 0 20%; }
  ul li {
    font-size: 16px;
    list-style: square;
    line-height: 28px; }

.caption {
  opacity: 0;
  *opacity: 1;
  transition: opacity 1.5s;
  font-family: 'wolf_in_the_cityregular', Arial, sans-serif;
  font-size: 80px;
  text-align: center;
  padding: 20% 5%;
  line-height: 40px;
  text-shadow: 3px 3px 1px #aaaaaa; }

.photo-box {
  transition: opacity 1s; }
  .photo-box:hover {
    opacity: 0.8; }
    .photo-box:hover .caption {
      opacity: 1; }

.top-bump {
  padding-top: 25%; }

/************************************
 * laptop
 ************************************/
@media only screen and (max-width: 1250px) and (min-width: 1024px) {
  h1.intro {
    font-size: 200px; } }
/************************************
 * ipad - landscape
 ************************************/
@media only screen and (max-width: 1023px) and (min-width: 768px) {
  h1.intro {
    font-size: 180px;
    line-height: 120px;
    margin-top: 25%; }

  h2 br.hidden, h2 br {
    display: inherit; }

  p {
    text-align: left;
    line-height: 26px;
    font-size: 18px; } }
/************************************
 * ipad - portrait
 ************************************/
@media only screen and (max-width: 767px) and (min-width: 568px) {
  h1.intro {
    font-size: 200px;
    line-height: 100px;
    margin-top: 30%; }

  .margin-top-extra {
    margin-top: 5%; }

  p {
    padding-top: 13%; }

  .caption {
    opacity: 1; }

  .photo-box {
    transition: none; }
    .photo-box:hover {
      opacity: 1; } }
/************************************
 * mobile
 ************************************/
@media only screen and (max-width: 567px) {
  h1.intro {
    font-size: 130px;
    line-height: 60px;
    margin-top: 50%; }

  h2 br.hidden, h2 br {
    display: inherit; }

  p {
    font-size: 17px; }

  .caption {
    opacity: 1; }

  .photo-box {
    transition: none; }
    .photo-box:hover {
      opacity: 1; } }
/************************************
 * iPhone landscape
 ************************************/
@media only screen and (max-device-width: 568px) and (orientation: landscape) {
  h1.intro {
    margin-top: 10%; }

  .caption {
    opacity: 1; }

  .photo-box {
    transition: none; }
    .photo-box:hover {
      opacity: 1; } }
/************************************
 * small mobile
 ************************************/
@media only screen and (max-width: 320px) {
  p {
    font-size: 16px;
    line-height: 22px;
    padding: 15% 10%; }

  h1.intro {
    font-size: 110px; }

  .caption {
    opacity: 1; }

  .photo-box {
    transition: none; }
    .photo-box:hover {
      opacity: 1; } }
