// colors from photographs
$skyblue: #75a8c5;
$limegreen: #63b778;
$tan: #8f9190;
$greyblue: #5c687d;
$greygreen: #61735e;
$rust: #7e392c;
$teal: #157d98;
$darkblue: #0d3672;
$pink: #f5a1a3;
$navy: #010042;
$sandstone: #bbc1c3;
$browngreen: #67604b;
$scabbish: #7b394b;
$gold: #ccad5b;

.skyblue { 		background-color: $skyblue; }
.limegreen { 	background-color: $limegreen; }
.tan { 			background-color: $tan; }
.greyblue { 	background-color: $greyblue; }
.greygreen { 	background-color: $greygreen; }
.rust { 		background-color: $rust; }
.teal { 		background-color: $teal; }
.darkblue { 	background-color: $darkblue; }
.pink { 		background-color: $pink; }
.navy { 		background-color: $navy; }
.sandstone { 	background-color: $sandstone; }
.gold { 	background-color: $gold; }
.scabbish { 	background-color: $scabbish; }