@font-face {
    font-family: 'wolf_in_the_cityregular';
    src: url('../font/wolf_in_the_city-webfont.eot');
    src: url('../font/wolf_in_the_city-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/wolf_in_the_city-webfont.woff') format('woff'),
         url('../font/wolf_in_the_city-webfont.ttf') format('truetype'),
         url('../font/wolf_in_the_city-webfont.svg#wolf_in_the_cityregular') format('svg');
    font-weight: normal;
    font-style: normal;

}