// ie 7 & 8 grid tweaks...
.wrapper {
	width: 100%;
	max-width: 1024px;
}
.row > .nested-right:last-of-type,
.row > .nested-left,
{
	margin-bottom:1px;

	[class*='row-']:last-of-type {
		margin-bottom: 0px;
	}
}
.nested-right { margin-bottom: 0px;}
.double-nested {
	margin-bottom: 1px;
}
[class*='col-'] {
	width:100%;
	margin-bottom: 1px;
}

// ie 7 & 8 style tweaks...
h1.intro {
	font-size:120px;
	line-height:100px;
}
p {
	padding-top:75px;
	margin-top:0;
}
h2 {
	padding-top:5%;
	br {
		display:inherit;
	}
}